body{
    background-color: azure;
}


h1{
    font-size: larger;
    
}

.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: center;

}

.box{
    width: 20vmax;
    height: 20vmax;
    background-color: greenyellow;
}

.box1{
    width: 20vmax;
    height: 20vmax;
    background-color: greenyellow;
}